<!-- Stylesheets -->
<!-- Bootstrap is included in its original form, unaltered -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<!-- Related styles of various icon packs and plugins -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">

<!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

<!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
<!-- END Stylesheets -->


<!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
<script src="{{ url_for('static', filename='js/vendor/modernizr-respond.min.js') }}"></script>